.header {
    border: solid;
    border-width: 5px;
    text-align: center;
    border-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    justify-content: space-between;
}

.logoheader {
    width: 10%;
    height: 10%;
}

.fa-bars{
    font-size: 30px;
}