*{
    background-color: #2B3BE5;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    justify-content: space-between;
    margin: 15px;
}

.titleheader {
    font-family: "Josefin Sans", sans-serif;
    color: white;
}

.logoheader {
    width: 10%;
    height: 10%;
    border-radius: 10px;
}

.fa-bars{
    font-size: 30px;
    margin: 20px;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.bodyimage {
    padding: 20px;
}

.bodyimg {
    border-radius: 30px;
}

.bodytext {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.bodytexthousing {
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Josefin Sans", sans-serif;
    width: 30% 
}

.footer{
    background-color: white;
}
.footerinfo{
    text-align: center;
    background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap')
