*{
    background-color: #2B3BE5;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    justify-content: space-between;
    margin: 15px;
}

.titleheader {
    font-family: "Passion One", sans-serif;
    color: white;
}

.logoheader {
    width: 10%;
    height: 10%;
    border-radius: 10px;
}

.fa-bars{
    font-size: 30px;
    margin: 20px;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.bodyimage {
    padding: 20px;
}

.bodyimg {
    border-radius: 30px;
}

.bodytext {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-family: "Passion One", sans-serif;
    font-size: 25px;
}

.bodytexthousing {
    padding: 20px;
    width: 30% 

}

.titlebody1 {
    font-size: 100px;
    font-family: "Passion One", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.subtextbody1 {
    color: white;
    font-family: "Passion One", sans-serif;
    text-align: left;
    margin-top: 0px;
}

.footer {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    margin-right: 20px;
  }

.footerinfo {
    background: white;
    color: black;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Passion+One:wght@400;700;900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap')

